h1
{
  text-align: center;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: 32px;
}
h2
{
  text-align: center;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: 14px;
}
div
{
  text-align: center;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
  font-size: 14px;
}


.bar {
  fill: steelblue;
}

.axis path {
  display: none;
}
